﻿<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Default/Index" aria-expanded="false">
                    <i class="fa fa-home"></i><span class="nav-text">Anasayfa</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index" aria-expanded="false">
                    <i class="fa fa-desktop"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Profile/Index" aria-expanded="false">
                    <i class="fa fa-user"></i><span class="nav-text">Profil</span>
                </a>
            </li>
            <li>
                <a href="/About/AboutList" aria-expanded="false">
                    <i class="fa fa-user-circle"></i><span class="nav-text">Hakkımda</span>
                </a>
            </li>
            <li>
                <a href="/Category/CategoryList" aria-expanded="false">
                    <i class="fa fa-th-list"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Profile/ChangePassword" aria-expanded="false">
                    <i class="fa fa-beer"></i><span class="nav-text">Servisler</span>
                </a>
            </li>
            <li>
                <a href="/Special/SpecialList" aria-expanded="false">
                    <i class="fa fa-star"></i><span class="nav-text">Spesiyaller</span>
                </a>
            </li>
            <li>
                <a href="/Profile/ChangePassword" aria-expanded="false">
                    <i class="fa fa-users"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Profile/ChangePassword" aria-expanded="false">
                    <i class="fa fa-image"></i><span class="nav-text">Galeri</span>
                </a>
            </li>
            <li>
                <a href="/Product/ProductList" aria-expanded="false">
                    <i class="fa fa-cubes"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="/Profile/ChangePassword" aria-expanded="false">
                    <i class="fa fa-fire"></i><span class="nav-text">Etkinlikler</span>
                </a>
            </li>
            <li>
                <a href="/Profile/ChangePassword" aria-expanded="false">
                    <i class="fa fa-envelope"></i><span class="nav-text">İletişim</span>
                </a>
            </li>
            <li>
                <a href="/Profile/ChangePassword" aria-expanded="false">
                    <i class="fa fa-bookmark"></i><span class="nav-text">Rezervasyon</span>
                </a>
            </li>
            <li>
                <a href="/Profile/ChangePassword" aria-expanded="false">
                    <i class="fa fa-bar-chart"></i><span class="nav-text">İstatistikler</span>
                </a>
            </li>
            <li>
                <a href="/Profile/ChangePassword" aria-expanded="false">
                    <i class="fa fa-lock"></i><span class="nav-text">Şifre Değişikliği</span>
                </a>
            </li>
        </ul>
    </div>
</div>